@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-link {
  @apply font-medium
  text-[#DC143C]
  hover:text-[#DC143C]/50
  transition-colors duration-300
  underline;
}

.top-page-button {
  @apply w-[150px] h-[50px] flex items-center justify-center text-white bg-[#DC143C] hover:bg-[#DC143C]/60 font-medium text-base rounded-lg transition-colors duration-300;
}
